@model OnlineSchool_Project.Models.BaiHoc
@{
    ViewData["Title"] = "Quản lý Bài học";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
  
<h3>Có chắc muốn xóa?</h3>
<div>
    <h4>Id: @Model.Id</h4>
    <h4>Tên ngành: @Model.TenBaiHoc</h4> 
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index">Trở lại trang trước</a>
</form>