@model IEnumerable<OnlineSchool_Project.Models.KhoaHoc>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Khóa học/</span> Danh sách</h4>

<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">DANH SÁCH KHÓA HỌC</h5>
    <div class="table-responsive text-nowrap" style="min-height: 30rem;">
        <a class="dropdown-item" href="/AdminKhoaHoc/Create"><i class="bx bx-edit-alt me-1"></i> Thêm mới</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Tên</th> 
                    <th>Mô tả</th>
                    <th>Hình thức</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var khoaHoc in Model)
                {
                    <tr>
                        <td>@khoaHoc.TenKhoaHoc</td> 
                        <td>@khoaHoc.MoTa</td> 
                        <td>@khoaHoc.HinhThuc</td> 
                    </tr>
                }
            </tbody>
        </table> 
    </div>
</div>