@model IEnumerable<OnlineSchool_Project.Models.KhoaHoc>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Khóa học/</span> Danh sách</h4>

<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">DANH SÁCH KHÓA HỌC</h5>
    <div class="table-responsive text-nowrap" style="min-height: 30rem;">
        <a class="dropdown-item" href="/AdminKhoaHoc/Create"><i class="bx bx-edit-alt me-1"></i> Thêm mới</a>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th> 
                    <th>Tên</th> 
                    <th>Mô tả</th>
                    <th>Hình thức</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var khoaHoc in Model)
                {
                    <tr>
                        <td>@khoaHoc.Id</td> 
                        <td>@khoaHoc.TenKhoaHoc</td> 
                        <td>@khoaHoc.MoTa</td>
                        <td>@khoaHoc.HinhThuc</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/AdminKhoaHoc/Edit/@khoaHoc.Id"><i class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>
                                    <a class="dropdown-item" href="/AdminKhoaHoc/Delete/@khoaHoc.Id"><i class="bx bx-trash me-1"></i> Xóa</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table> 
    </div>
</div>