@model IEnumerable<OnlineSchool_Project.Models.GiangVien>


@{
	ViewData["Title"] = "Trang chủ";
}

<!-- Home -->

<div class="home" style="height:25rem">
	<div class="home_background" style="background-image: url(https://img-c.udemycdn.com/notices/web_carousel_slide/image/09206fc2-d0f1-41f6-b714-36242be94ee7.jpg);"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="home_button trans_200"><a href="/User/Khoahoc">học ngay</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Language -->

<div class="language">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="language_slider_container">

					<!-- Language Slider -->

					<div class="owl-carousel owl-theme language_slider">

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/Ukrainian.svg" alt=""></div>
								<div class="lang_name">Ukrainian</div>
							</a>
						</div>

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/Japanese.svg" alt=""></div>
								<div class="lang_name">Japanese</div>
							</a>
						</div>

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/Lithuanian.svg" alt=""></div>
								<div class="lang_name">Lithuanian</div>
							</a>
						</div>

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/Swedish.svg" alt=""></div>
								<div class="lang_name">Swedish</div>
							</a>
						</div>

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/English.svg" alt=""></div>
								<div class="lang_name">English</div>
							</a>
						</div>

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/Italian.svg" alt=""></div>
								<div class="lang_name">Italian</div>
							</a>
						</div>
						
						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/VietNam.svg.png" alt=""></div>
								<div class="lang_name">Viet Nam</div>
							</a>
						</div>

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/Chinese.svg" alt=""></div>
								<div class="lang_name">Chinese</div>
							</a>
						</div>

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/French.svg" alt=""></div>
								<div class="lang_name">French</div>
							</a>
						</div>

						<!-- Flag -->
						<div class="owl-item language_item">
							<a href="#">
								<div class="flag"><img src="~/images/German.svg" alt=""></div>
								<div class="lang_name">German</div>
							</a>
						</div>

					</div>

					<div class="lang_nav lang_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
					<div class="lang_nav lang_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Instructors -->

<div class="instructors">
	<div class="instructors_background" style="background-image:url(images/instructors_background.png)"></div>
	<div class="container">
		<div class="row">
			<div class="col"> 
			</div>
		</div>
		<div class="row instructors_row">

			@foreach (var item in Model)
			{
				<!-- Instructor -->
				<div class="col-lg-4 instructor_col">
					<div class="instructor text-center">
						<div class="instructor_image_container">
							<div class="instructor_image"><img src="~/images/giangvien/@item.UrlImage" alt=""></div>
						</div>
						<div class="instructor_name"><a href="instructors.html">@item.HoTen</a></div>
						<div class="instructor_title">Teacher</div> 
						<div class="instructor_social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>

<!-- Register -->

<div class="register">
	<div class="container">
		<div class="row">

			<!-- Register Form -->

			<div class="col-lg-6">
				<div class="register_form_container">
					<div class="register_form_title">Khóa học miễn phí</div>
					<form action="#" id="register_form" class="register_form">
						<div class="row register_row">
							<div class="col-lg-6 register_col">
								<input type="text" class="form_input" placeholder="Name" required="required">
							</div>
							<div class="col-lg-6 register_col">
								<input type="email" class="form_input" placeholder="Email" required="required">
							</div>
							<div class="col-lg-6 register_col">
								<input type="tel" class="form_input" placeholder="Phone">
							</div>
							<div class="col-lg-6 register_col">
								<input type="url" class="form_input" placeholder="Site">
							</div>
							<div class="col">
								<button type="submit" class="form_button trans_200">LẤY NGAY</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<!-- Register Timer -->

			<div class="col-lg-6">
				<div class="register_timer_container">
					<div class="register_timer_title">Đăng ký ngay</div>
					<div class="register_timer_text">
						<p>Đăng ký ngay khóa học miễn phí 100%.</p>
					</div>
					<div class="timer_container">
						<ul class="timer_list">
							<li><div id="day" class="timer_num">00</div><div class="timer_ss">ngày</div></li>
							<li><div id="hour" class="timer_num">00</div><div class="timer_ss">tiếng</div></li>
							<li><div id="minute" class="timer_num">00</div><div class="timer_ss">phút</div></li>
							<li><div id="second" class="timer_num">00</div><div class="timer_ss">giây</div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
