@model OnlineSchool_Project.Models.TaiKhoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>HocVien Details</h1>

<div>
    <h4>Tên đăng nhập: @Model.TenDangNhap</h4>
    <h4>Mật khẩu: @Model.MatKhau</h4>
    <h4>Loại tài khoản: @Model.LoaiTaiKhoan</h4>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.TenDangNhap">Sửa</a> |
    <a asp-action="Index">Trở về trang trước</a>
</p>