@model OnlineSchool_Project.Models.TaiKhoan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tài khoản/</span> Chỉnh sửa</h4>

<!-- Basic Layout & Basic with Icons -->
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Tài khoản</h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-name">Tên đăng nhập:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" placeholder="Nhập vào tên đăng nhập.." asp-for="@Model.TenDangNhap" />
                        </div>
                    </div> 
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-password">Mật khẩu:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="basic-default-password" placeholder="Nhập vào tên mật khẩu.." value="@Model.MatKhau" asp-for="@Model.MatKhau" />
                        </div>
                    </div> 
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                            <a asp-action="Index">Trở về trang trước</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->