
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/home/css/style.css" rel="stylesheet" />
<link href="~/home/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />
<link href="~/home/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
 
<div class="main"> 
    <!-- Sign up form -->
    <section class="signup">
        <div class="container-signup">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title" style="font-family: 'Montserrat';">ĐĂNG KÝ</h2>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" placeholder="Nhập tên đăng nhập.." />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Nhập email.." />
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="pass" id="pass" placeholder="Nhập mật khẩu.." />
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="Nhập lại mật khẩu.." />
                        </div> 
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Đăng ký" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="/Home/Dangnhap" class="signup-image-link" style="font-family: 'Montserrat';">Đã có tài khoản, <b>ĐĂNG NHẬP</b></a>
                </div>
            </div>
        </div>
    </section>
     
</div>


<script src="~/home/vendor/jquery/jquery-ui.min.js"></script>
<script src="~/home/vendor/jquery/jquery.min.js"></script>
<script src="~/home/js/main.js"></script>