
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_LoginAdmin.cshtml";
}

<div class="wrapper">
	<div class="inner">
		<img src="~/assets/login/images/image-1.png" alt="" class="image-1" />
		@using (Html.BeginForm("Dangnhap", "Admin", FormMethod.Post))
		{
			//@Html.ValidationSummary()
			@Html.AntiForgeryToken()
		}
		<form method="POST" class="register-form" id="login-form">
			<h3>ĐĂNG NHẬP</h3>
			<div class="form-holder">
				<span class="lnr lnr-user"></span>
				<input type="text" name="TenDangNhap" id="TenDangNhap" class="form-control" placeholder="Tên đăng nhập.."> 
			</div> 
			<div class="form-holder">
				<span class="lnr lnr-lock"></span>
				<input type="password" name="MatKhau" id="MatKhau" class="form-control" placeholder="Mật khẩu.."> 
			</div> 
			<button type="submit" name="signin" id="signin" class="form-submit">
				<span href="/Admin">ĐĂNG NHẬP</span>
			</button>
		</form>
		<img src="~/assets/login/images/image-2.png" alt="" class="image-2" /> 
	</div>

</div> 